beir==2.1.0
diskcache==5.6.3
faiss-cpu==1.7.4
python-liquid==1.10.2
nltk==3.8.1
numpy==1.26.4
openai==1.76.2
pandas==2.2.3
protobuf==3.20.3
pyserini==0.44.0
ratelimit==2.2.1
Requests==2.32.3
scikit-learn==1.4.2
sentence_transformers==4.1.0
spacy==3.8.5
tenacity==8.2.2
tiktoken==0.9.0
torch==2.7.0
tqdm==4.65.0
transformers==4.51.3
